header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: none;
    /* Hide the navigation menu by default on mobile */
}

nav ul.show {
    display: block;
    /* Show the navigation menu when toggled on mobile */
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* shows regular navbar on anything that isn't mobile */
@media (min-width: 576px) {
    header {
        padding: 10px;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
        margin-bottom: 0;
    }

    #toggleNav {
        display: none;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 24px;
    }
}